:host {
    ion-card {
        margin: 14px 12px;
    }

    ion-card-title {
        font-weight: 700;
        margin-bottom: 8px;
        color: var(--ion-color-dark);
    }

    ion-list-header {
        font-weight: 600;
        color: var(--ion-color-medium);
    }

    .phone ion-button {
        font-size: 1rem;
        color: var(--ion-color-dark);
        --color: var(--ion-color-dark);
    }

    ion-button[color="light"] {
        --color: var(--ion-color-dark);
    }
}
