page-mechanical-assistance {
    .card-md {
        margin: 15px 10px;
    }
    
    .phone .button {
       font-size: 1.4em;
    }

    .tow-truck .button {
        font-size: 1.3em;
    }

    .tow-truck .button {
        padding: 1em 0; 
    }
}
