<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Auxilio Mecánico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let contact of mechanicalAssistanceContacts">
    <ion-card-content>
      <ion-card-title class="ion-text-center">{{ contact.company }}</ion-card-title>

      <ion-list>
        <ion-list-header>Argentina</ion-list-header>

        <ion-item class="phone" *ngFor="let interior of contact.interior">
          <ion-button fill="clear" color="primary" (click)="onCall(interior.numberToCall)">
            <ion-icon slot="start" name="call"></ion-icon>
            {{ interior.number }}
          </ion-button>
        </ion-item>

        <ion-item class="phone whatsapp-line" *ngFor="let whatsapp of contact.whatsapp">
          <ion-button fill="clear" color="primary" (click)="onOpenWhatsApp(whatsapp.numberToCall)">
            <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
            {{ whatsapp.number }}
          </ion-button>
        </ion-item>

        <div *ngIf="contact.exterior?.length">
          <ion-list-header>Países limítrofes</ion-list-header>
          <ion-item class="phone" *ngFor="let exterior of contact.exterior">
            <ion-button fill="clear" color="primary" (click)="onCall(exterior.numberToCall)">
              <ion-icon slot="start" name="call"></ion-icon>
              {{ exterior.number }}
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div *ngIf="flagHasNoContact" class="ion-text-center ion-padding">
    No se encontraron Asistencias Mecánicas
  </div>
</ion-content>