<ion-header>
  <ion-toolbar>
    <ion-title>Centro Atención Morón</ion-title>
  </ion-toolbar>
  <ion-toolbar class="welcome-toolbar">
    <div class="welcome-banner" style="margin-left: 1.5em;">
      <span class="welcome-label">Bienvenido/a &nbsp;</span>
      <span class="welcome-name">{{ currentUser?.name }}</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="sections">
    <ion-row>
      <ion-col size="6" class="col-home ion-text-center border-right" (click)="onLoad('myPoliciesPage')">
        <img src="./assets/imgs/app/mis_polizas.png" class="icon" alt="mis_polizas" />
        <span style="color: aliceblue;">Mis Polizas</span>
      </ion-col>
      <ion-col size="6" class="col-home ion-text-center" (click)="onLoad('mechanicalAssistancePage')">
        <img src="./assets/imgs/app/auxilio_mecanico.png" class="icon" alt="auxilio_mecanico" />
        <span style="color: aliceblue;">Auxilio Mecanico</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="col-home ion-text-center border-top border-right border-bottom" (click)="onLoad('sinisterPage')">
        <img src="./assets/imgs/app/siniestros.png" class="icon" alt="siniestros" />
        <span style="color: aliceblue;">Siniestro</span>
      </ion-col>
      <ion-col size="6" class="col-home ion-text-center border-top border-bottom" (click)="onLoad('contactPage')">
        <img src="./assets/imgs/app/contacto.png" class="icon" alt="contacto" />
        <span style="color: aliceblue;">Contacto</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="col-home border-top border-right border-bottom" (click)="onLoad('notificationPage')">
        <ion-row>
          <ion-col size="11" class="ion-text-center no-padding">
            <img src="./assets/imgs/app/notification.png" class="icon" alt="noticias" />
            <span style="color: aliceblue;">Notificaciones</span>
          </ion-col>
          <ion-col size="1" *ngIf="cantNewsNotRead > 0">
            <ion-badge color="danger">{{ cantNewsNotRead }}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6" class="col-home ion-text-center border-top border-bottom" (click)="onLoad('callUs')">
        <img src="./assets/imgs/app/call_us.png" class="icon" alt="llamanos" />
        <span style="color: aliceblue;">Llamanos</span>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>