page-news {
    h1 {
        color: #FFFFFF !important;
    }

    p {
       color: #CCCCCC !important; 
    }

    ion-icon {
        color: white;
        font-size: 1.75em;
    }

  .img {
        padding: 0px 20px 20px 20px;
        background-color: transparent;

    }
}
