<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis pólizas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()" color="primary">
    <ion-segment-button value="online" style="color: aliceblue; --color-checked: aliceblue;">Online</ion-segment-button>
    <ion-segment-button value="downloaded" style="color: aliceblue; --color-checked: aliceblue;">Descargadas</ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item button *ngFor="let section of policySections" (click)="goToPolicies(section)">
      {{ section.name }}
    </ion-item>
  </ion-list>

  <div *ngIf="!policySections?.length" class="ion-text-center ion-padding">No se encontraron pólizas</div>
</ion-content>